app-view-reports {
    height: 100%;
    overflow-y: auto;
}
.view-reports {
    background-color: white;
    display: flex;
    flex-direction: column;
}
form label {
    font-size: 1.125rem;
    
}
form small {
    font-size: 1rem;
    color: var(--gray);
}
.form-control-sm {
    font-size: 1rem;
}
.section{
    display: flex;
    flex: 1;
    padding: 0.625rem 1.25rem;
    min-height: 25rem;
}
.section__filter {
    flex: 0.3;
}
.section__chart {
    flex: 0.7;
}