/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

:root {
    --color-priamry: #123456;
    --color-title: #aa0510;
}

html {
    font-size: 100%;
}

/* ngb-datepicker { */
    /* font-size: 10%; */
/* } */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    overflow: hidden;
}

app-line-chart .axisRed text {
    fill: red;
  }